<div class="headerCont">
   <h1>Comics Marvel</h1>
</div>

<div class="searchCont">
  <!-- <div *ngIf="lista_comics"> -->
    <p>ent</p>
    Search: <input type="text" [(ngModel)]="filterText">
    <ul>
      <li *ngFor="let comic of lista_comics | filter:filterText; let i = index">
          <div class="cuadroComic">
              <input type="text" class="tituloComic" value={{comic.title}} readonly="true">
              <img class="imgComic" src="{{comic.thumbnail.path}}.jpg" readonly="true">
              <div class="infoComic">
                  <input type="text" class="fechaComic" value="2020" readonly="true">
                  <input type="text" class="numLikes" value={{likes_comics[i]}} readonly="true">
                  <button (click)="gestionarLike(i, true)">:)</button>
                  <button (click)="gestionarLike(i, false)">:(</button>
              </div>
            </div>
      </li>
    </ul>
  <!-- </div> -->
</div>

<!-- <div *nfIf="lista_comics"> -->
  <div class="cuadroComic" *ngFor="let comic of lista_comics;let i=index">
    <!-- <input type="text" class="tituloComic" value={{comic.title | titulo-comic}} readonly="true"> -->
    <!-- <h3>{{comic.title | titulocomic }}</h3> -->
    <img class="imgComic" src="{{comic.thumbnail.path}}.jpg" readonly="true">
    <div class="infoComic">
        <input type="text" class="fechaComic" value="2020" readonly="true">
        <input type="text" class="numLikes" value={{likes_comics[i]}} readonly="true">
        <button (click)="gestionarLike(i, true)">:)</button>
        <button (click)="gestionarLike(i, false)">:(</button>
    </div>
  </div>
<!-- </div> -->


  
