.headerCont{
  width: 100%;
  color: white;
  margin: 0 auto;
  padding: 20px;
  background-color: blue;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#009ec3',GradientType=1 );
}

h1{
  margin: 0px;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 7px 0px;
}

.searchCont{
  padding: 25px;
  background-color: black;
}

.buscador{
  padding: 10px 35px;
}