<div class="headerCont">
   <h1>Comics Marvel</h1>
</div>

<div class="searchCont">
  <div *ngIf="lista_comics">
    <div class="searchCont">
    Search: <input type="text" class="buscador" [(ngModel)]="filterText">
    </div> 
    <div class="cuadroComic" *ngFor="let comic of lista_comics | filter:filterText; let i = index">
        <h4 class="tituloComic">{{comic.title | titulocomic }}</h4>
        <div class="contImg">
            <img class="imgComic" src="{{comic.thumbnail.path}}.jpg" readonly="true">
        </div>
        <div class="infoComic"> 
          <h5 class="fechaComic">Fecha: {{comic.title | fechacomic }}</h5>
          <input type="text" class="numLikes" value={{likes_comics[i]}} readonly="true">
          <button (click)="gestionarLike(i, true)">:)</button>
          <button (click)="gestionarLike(i, false)">:(</button>
        </div>
    </div>
  </div>
</div>



  
